/* General styles */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(253, 253, 235);
  min-height: 100vh;
}

/* Post-it styles */
.post-it {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 12px;
  background-color: #f9f1e7; /* Tono leggermente più chiaro per il post-it */
  box-shadow: 4px 4px 6px #e04700;
  font-size: 20px; /* Leggermente aumentata la dimensione del testo */
  font-weight: bold;
  line-height: 1.4;
  word-wrap: break-word;
  min-width: auto;
  max-width: auto;
  color: #3c2f2f; /* Tono leggermente più scuro per il testo */
  top: 50%;
}

.post-it .delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  padding: 6px;
  font-weight: bold;
  color: #e16428; /* Colore coordinato con la shadow */
}

/* Form and wrapper styles */
.wrapper {
  max-width: 380px;
  min-height: 550px;
  padding: 42px 32px 32px 32px;
  background-color: #f9f1e7;
  border-radius: 18px;
  box-shadow: 5px 5px 10px #e16428;
}


.wrapper .name {
  font-weight: 600;
  font-size: 1.6rem; /* Aumentato leggermente */
  letter-spacing: 1.5px; /* Leggermente aumentato */
  padding-left: 12px;
  color: #5a4a4a; /* Tono leggermente più scuro per contrasto */
}

.wrapper .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: #f6e9e9; /* Tono leggermente più chiaro */
  font-size: 1.3rem; /* Leggermente aumentato */
  color: #4a3a3a; /* Tono leggermente più scuro */
  padding: 12px 16px; /* Aumentato leggermente */
  border-radius: 12px; /* Bordi leggermente arrotondati */
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background-color: #e16428;
  color: #f9f1e7; /* Tono più chiaro per il testo */
  border-radius: 28px;
  transition: background-color 0.3s; /* Transizione per un effetto più fluido */
}

.wrapper .btn:hover {
  background-color: #d45c20; /* Leggermente più scuro al passaggio del mouse */
}

/* Media queries */
@media (max-width: 400px) {
  .wrapper {
    margin: 40px 15px;
    padding: 38px 18px 18px 18px;
  }
}

/* External font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
