<!--HEADER-->
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Social Post-it</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" />
    <!-- Tuo CSS personalizzato -->
    <link rel="stylesheet" href="../style/main.css" />
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- HEADER -->
    <header class="text-black py-4">
        <div class="container text-center">
            <h1>Social Post-it 2.0</h1>
        </div>
    </header>
